<div class="container text-center">
    <p>
        <a asp-controller="Home" asp-action="Info">Hakkında</a> |
        <a asp-controller="Home" asp-action="Privacy">Gizlilik Politikası</a>
    </p>   
</div>
   
